.navbar {
    background-color: #0deeee;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .nav-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: black;
  }


  